<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <h1>Desk Consultants</h1>
    
        <% groups.forEach(row => { %>
            <div class="dc-row">
                <% row.forEach(group => { %>
                    
                    <table>
                        <% const topicName = topics.find(topic => topic.id === group[0]).name %>
                        
                        <% const student_cell = (studId, markIfConsultant) => { %>
                            <% const this_student = students.find(student => { return student.id === studId}) %>
                            <% let this_class="student-cell" %>
                            <% if (markIfConsultant && group[1]) {this_class = "consultant-cell"} %>
                            <td class="<%= this_class %>">
                                <% if (this_student) { %>
                                    <%= this_student.first_name %> <%= this_student.last_name[0] %>
                                <% } %>
                            </td>
                        <% } %>

                        <tr>
                            <% student_cell(group[2][0], true) %>
                            <% student_cell(group[2][1]) %>
                        </tr>
                        <tr><th class="topic-cell" colspan="2">
                            <%= topicName %>
                        </th></tr>
                        <tr>
                            <% student_cell(group[2][2]) %>
                            <% student_cell(group[2][3]) %>
                        </tr>
                        
                    </table>
                    
                <% }) %>
            </div>
        </br>
        </br>
            
        <% }) %>
    
    
</body>

</html>

