<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        {
            box-sizing: border-box;
        }

        /* Set additional styling options for the columns*/
        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h1>Students</h1>

    <div class="row">
        <div class="column">
            <% group_1.forEach(student=> { %>
                <p>
                    <%= student.last_name %>, <%= student.first_name %>
                </p>
            <% }) %>
        </div>

        <div class="column">
            <% group_2.forEach(student=> { %>
                <p>
                    <%= student.last_name %>, <%= student.first_name %>
                </p>
            <% }) %>
        </div>

    </div>

    </br>
    <h3>Add a New Student</h3>
    <form action="/students" method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="title">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <input type="submit" value="Add a Student">
    </form>
</body>

</html>