body {
    background-color: white;
    font-family: Tahoma;
}

td {}

.big-button {
    color: rgb(245, 240, 240);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    background-color: #4e9af1;
    padding: 15px 32px;
    border: bold;
    border-radius:2em;
}

.big-button:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
    border: blue;
}


.oneTable {
    border-style: solid;
}

h1 {
    
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.start {
    display: flex;
    justify-content: start;
}

.margin {
    margin: 20px;
}

.student-cell {
    background-color: white;
    color: black;
    text-align: left;
    width: 150px;
    font-size: 20px;
    text-align: center;
}

.consultant-cell {
    background-color: #36c;
    color: white;
    width: 150px;
    font-size: 20px;
    text-align: center;
}

.topic-cell {
    background-color: lightseagreen;
    font-size: 20px;
}

.score-cell {}

.score-input {
    width: 25px;
    text-align: center;

}

table {
    border-collapse: collapse;
}

table, th {
    border: 1px solid black;
    padding: 0px;
}

thead th {
    width: 10%;
}

thead {
	background-color: #333;
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}
  
tbody tr:nth-child(even) {
    background-color: #eee;
}

  

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text>div {
    transform:
        /* translate(13px, 0px) */
        rotate(270deg);
    width: 30px;
}

th.rotated-text>div>span {
    /* padding: 5px 10px; */
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

