body{
    background-color: white;
}

td {
    
}

#fetch-button-1{
    color: rgb(245, 240, 240);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: red;
    padding: 15px 32px;
    border: bold;
    border-radius: 12px;
}

#fetch-button-1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


.oneTable {
    border-style: solid;
}

h1 {
    color: red;
}

table, th, td {
    border: 1px solid black;
}

th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text > div {
    transform:
        translate(13px, 0px)
        rotate(270deg);
    width: 30px;
}

th.rotated-text > div > span {
    padding: 5px 10px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}